services:
  db:
    image: mysql:9.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 30s
      timeout: 20s
      retries: 10
      start_period: 60s

  backend:
    image: enriquezduane/fastapi-backend:latest
    ports:
      - "8000:8000"
    restart: always
    environment:
      DB_CONNECTION_STRING: ${DB_CONNECTION_STRING}
      ALLOWED_ORIGINS: ${ALLOWED_ORIGINS}
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app_network

  frontend:
    # use a specific tag that bakes docker VM NEXT_PUBLIC_API_URL
    image: enriquezduane/next-frontend:vm
    ports:
      - "3000:3000"
    restart: always
    networks:
      - app_network

volumes:
  mysql_data:

networks:
  app_network:
    driver: bridge
