DB_CONNECTION_STRING=mysql+pymysql://user:securepassword@db:3306/testdb

MYSQL_ROOT_PASSWORD=securepassword
MYSQL_DATABASE=testdb
MYSQL_USER=user
MYSQL_PASSWORD=securepassword

ALLOWED_ORIGINS=http://159.223.60.185.sslip.io:3000
